
@media only screen and (max-width: 1286px) {
  .recsub {
  display: flex;
  flex-wrap: wrap;
  };
  .waterproofing-img{
    width: 100%;
  }
}
.recsub-container{
  padding-top: 30px;
  /* display: flex;
  justify-content: space-around;
  max-width: 100%;
  width: 100%;
  padding: 50px; */
}

.recsub {
  /* margin-top: 28px; */
  /* padding-top: 30px; */
  /* padding: 25px; */
  /* margin-top: 40px; */
  /* padding-top: 20px; */
  /* width: 100%; */
  /* margin: auto; */
  /* justify-content: space-around; */
  /* width: 800px; */
  display: flex;
  gap: 40px;
  /* justify-content: space-around; */
  max-width: 100%;
  width: 100%;
  padding: 50px;
 /* padding-top: 30px;   */
  /* margin-left: 350px; */
  /* padding: 80px; */
}
.resuba {
  /* padding-left: 60px; */
 
  padding: 60px;
  /* padding: 30px; */
  /* padding-left: 170px; */
  /* display: flex; */
}

/* div img{

    margin-left: 397px;

} */
.waterproofing {
  /* padding: 40px; */
    width: 495px;
  /* width: 270px; */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-transform: capitalize;

  /* Dark */

  color: #1d1d1b;
}
.water{
  /* width: 100%; */
  /* margin-left: 50px; */
/* padding-left: 30px; */
}
.EPDM-products {
  width: 495px;
    padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  /* Text Color */

  color: #494949;
}
.Discover {
    /* padding-top:25px ; */
border: none;
  width: 210px;
  height: 52px;
  background: #003591;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}
.disc{
    padding-top: 25px;
}
.waterproofing-img {
  width: 100%;
  /* width: 780px; */
    /* padding-left: 30px; */
  /* width: 650px; */
  /* height: 410px; */
  /* margin-left: 100px; */
}
