@media only screen and (max-width: 1286px) {
  .brands-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .brand_img {
    width: 100%;
  }
  .brand-subimg1 {
    position: absolute;
    /* right: 90px; */
    /* bottom: 50px; */
    /* bottom: 82px;
    left: 113px; */
    /* top: 80px; */
    /* bottom: 30px;
left: 50px; */
  }
}
.card_image{
  width: 100%;
}
.cardIcon{
  position: absolute;
 bottom: -44px;
 left: 50%;
 transform: translate(-50%, 0);
 
}
.brands h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-transform: capitalize;
  color: #1d1d1b;
}

.brands p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #494949;
}
.brands-img {
  /* width: 100%; */
  /* padding-left: 60px; */
  display: flex;
  /* flex-wrap: wrap; */
  margin-top: 30px; 
  gap: 30px;
  /* margin: auto; */
  /* padding: 20px; */
}
.brand_img {
  width: 100%;
/*  */
}
.brand {
  /* display: flex; */
  width: 100%;
 margin-bottom: 40px;
  
}
.brand-subimg1 {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

.brand1 {
  width: 100%;
  position: relative;
}

 




.cardIcon{
  display: flex;
  justify-content: center;
}
.containerrr{
  max-width: 1170px;
  margin: auto;
}
.slop{
  width: 10px;
  height: 10px;
  border-width: 40px;
  border-color: transparent transparent blue transparent;
  border-style: solid;
}